@import url('https://fonts.googleapis.com/css2?family=Gentium+Plus:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  pre:has(div.codeblock) {
    @apply bg-transparent p-0;
  }

  textarea {
    @apply resize-none;
  }
}

@layer components {
  .gradient-bg {
    position: absolute;
    width: 100%;
    transform: translate(15%);
    height: 110%;
    background-image: linear-gradient(#000000, transparent 20%),
      conic-gradient(
        from -0.25turn at 50% 50%,
        #884bfb 0deg 98deg,
        rgb(199, 200, 204) 100deg 104deg,
        transparent 107deg 118deg,
        rgb(199, 200, 204) 119deg 124deg,
        rgb(111, 172, 212) 128deg 180deg
      );
    top: 70%;
    border-radius: 50%;
    filter: blur(100px) saturate(2);
    opacity: 0.3;
  }

  .gradient-bg-index {
    position: absolute;
    width: 100%;
    transform: translate(15%);
    height: 300px;
    background-image: linear-gradient(#000000, transparent 20%),
      conic-gradient(
        from -0.25turn at 50% 50%,
        #884bfb 0deg 98deg,
        rgb(199, 200, 204) 100deg 104deg,
        transparent 107deg 118deg,
        rgb(199, 200, 204) 119deg 124deg,
        rgb(111, 172, 212) 128deg 180deg
      );
    top: 10%;
    right: 50%;
    border-radius: 50%;
    filter: blur(100px) saturate(2);
    opacity: 0.3;
  }
}
